@tailwind base;
@tailwind components;
@tailwind utilities;

.circle::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #eab308;
  z-index: -1;
  top: -30%;
  left: -10%;
}
.bookNow:hover .bookNowIcon {
  transform: translateX(3px);
}

.dashed-border{
    /* border: 40px solid ;
    border-image: url('../public/circle.png') 200 round;
 
    border-style: dotted;
    border-image-repeat: round; */
}